/* Hospital.css */

.hospital-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Display three columns per row */
  gap: 50px; /* Adjust the gap between cards */
  margin: 3rem 0 0 10rem; /* Add space to the top and left */
}

.hospital-list a {
  text-decoration: none; /* Remove the default link styling */
}
