/* Pharmacy.css */

.Pharmacy-list {
  list-style: none;
  padding: 10px; /* Add padding to the top */
  margin: 0; /* Reset margin */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Adjust as needed */
}

.card {
  width: calc(30% - 20px);
  margin: 0 0 20px 0; /* Add margin to the bottom of each card */
  box-sizing: border-box;
}

/* Add media query for responsiveness if necessary */
@media (max-width: 768px) {
  .card {
    width: calc(50% - 20px);
  }
}
