
  .card-blue {
    background-color: #2962ff;
  }
  
  .card-orange {
    background-color: #ff6d00;
  }
  
  .card-green {
    background-color: #2e7d32;
  }
  
  .card-red {
    background-color: #d50000;
  }
  /* Dashbord.css */
.main-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 50px;
    justify-content: center; /* Center the grid horizontally */
    align-items: center; /* Center the grid vertically */
    margin: 50px auto; /* Auto for left and right margins to center horizontally */
    max-width: 1200px; /* Adjust the max-width to fit your layout */
  }
  .main-container {
    grid-area: main;
    overflow-y: auto;
    padding: 20px 20px;
    color: rgba(255, 255, 255, 0.95);
  }