/* .cardContainer {
  width: 284.12px;
  height: 434.58px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 3.6519203186035156px 2.921536445617676px rgba(0, 0, 0, 0.25);
  border-radius: 7.3px;
  margin-bottom: 10px;
  margin-left: 50px;
}

.cardImage {
  width: 246.14px;
  height: 277.55px;
  border-radius: 7.3px;
  margin-top: 10px;
}

.categoryText {
  margin-top: 10px;
  color: white;
  font-size: 14.61px;
  font-family: "Poppins";
  font-weight: 500;
  word-wrap: break-word;
}

.titleText {
  margin-left: 20px;
  color: white;
  font-size: 14.61px;
  font-family: "Poppins";
  font-weight: 700;
  word-wrap: break-word;
}

.priceText {
  margin-right: 20px;
  color: white;
  font-size: 14.61px;
  font-family: "Poppins";
  font-weight: 700;
  word-wrap: break-word;
}

.buyButton {
  margin-top: 30px;
  width: 212.54px;
  height: 36.52px;
  padding-left: 14.61px;
  padding-right: 14.61px;
  padding-top: 7.3px;
  padding-bottom: 7.3px;
  background: linear-gradient(214deg, #b75cff 0%, #671ae4 100%);
  border-radius: 7.3px;
  justify-content: center;
  align-items: center;
  gap: 7.3px;
  display: inline-flex;
}

.buyButtonText {
  width: 64.27px;
  height: 21.91px;
  color: white;
  font-size: 14.61px;
  font-family: "Poppins";
  font-weight: 600;
  word-wrap: break-word;
}
.titlePrice {
  display: flex;
  justify-content: space-between;
}
.buttonContainer {
  display: flex;
  justify-content: space-between;
} */

.containerMed {
  background-color: whitesmoke;
  border-radius: 12px;
  border: 1px solid rgba(219, 211, 211, 0.904);
  padding: 10px;
  filter: drop-shadow(0 30px 10px rgba(0, 0, 0, 0.125));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: -100px;
  margin-left: 50px;
  width: 200px;
  height: 280px;
}

.banner-image {
  background-position: center;
  background-size: cover;
  height: 100px;
  width: 100%;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.255);
}

h1,
h3 {
  font-family: "Righteous", sans-serif;
  color: rgba(9, 60, 70, 0.9);
  text-transform: uppercase;
  font-size: 1.2rem;
}

p {
  color: black;
  font-family: "Lato", sans-serif;
  text-align: center;
  font-size: 0.8rem;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 18px;
}

.btn {
  border: none;
  padding: 8px 16px;
  border-radius: 24px;
  font-size: 12px;
  font-size: 0.8rem;
  letter-spacing: 2px;
  cursor: pointer;
}

.btn + .btn {
  margin-left: 6px;
}

.outline {
  background: transparent;
  color: rgba(0, 212, 255, 0.9);
  border: 1px solid rgba(0, 212, 255, 0.6);
  transition: all 0.3s ease;
}

.outline:hover {
  transform: scale(1.125);
  color: rgba(255, 255, 255, 0.9);
  border-color: rgba(255, 255, 255, 0.9);
  transition: all 0.3s ease;
}

.fill {
  background: rgba(0, 212, 255, 0.9);
  color: rgba(255, 255, 255, 0.95);
  filter: drop-shadow(0);
  font-weight: bold;
  transition: all 0.3s ease;
}

.fill:hover {
  transform: scale(1.125);
  border-color: rgba(255, 255, 255, 0.9);
  filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.125));
  transition: all 0.3s ease;
}
