.gradient-custom {
  background: #f6d365;

  background: -webkit-linear-gradient(
    to right bottom,
    rgba(246, 211, 101, 1),
    rgba(253, 160, 133, 1)
  );

  background: linear-gradient(
    to right bottom,
    rgba(246, 211, 101, 1),
    rgba(253, 160, 133, 1)
  );
}
.profilContainer {
  margin-top: 100px;
}

.create {
  border: 2px solid #24b4fb;
  background-color: #24b4fb;
  border-radius: 0.9em;
  padding: 0.5em 0.8em 0.5em 0.8em;
  transition: all ease-in-out 0.2s;
  font-size: 16px;
}

.create span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 600;
}

.create:hover {
  background-color: #0071e2;
}
